<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">Drumschool Hart</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h2>Drumschool Hart Haarlem</h2>
            <p>Wil jij ook leren drummen dan ben je bij Drumschool Hart aan het goede adres!!</p>
            <p>Meld je nu aan voor een gratis proefles!</p>
        </div>
        <div class="col-sm-4">
            <h2>Drumschool Hart</h2>
            <address>
                <strong>Kleine Houtweg 18 | Gasthuisvest 47</strong>
                <br>Haarlem
                <br>
            </address>
            <address>
                <abbr title="Email">E:</abbr> <a href="mailto:#">info@drumschoolhart.nl</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://2.bp.blogspot.com/-wxN-aBmmqag/UTtZKNTbtiI/AAAAAAAAJ6M/iusxJm4DRQw/s1600/Ans+Rietbergen.JPG" alt="">
            <h2 class="title">Ans Rietbergen</h2>
            <p></p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="https://c1.staticflickr.com/9/8391/8473986365_bd6cc186d3_b.jpg" alt="">
            <h2 class="title">Baz Mattie</h2>
            <p></p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://www.nmbb.nl/images/Bio's/Tjaco_AmfJazz2-verkleind_bewerkt-4.jpg" alt="">
            <h2 class="title">Tjaco Oostdijk</h2>
            <p></p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; DrumschoolHart 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
