.container
  .row
    .col-md-2
    .col-md-7
      %h3 Schrijf je hieronder in voor een gratis proefles.

      = render 'form'

      = link_to 'Back', students_path if current_user && (current_user.teacher? || current_user.admin? )
    .col-md-3
